<%= form_with(model: ma_table, local: true) do |form| %>
  <% if ma_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ma_table.errors.count, "error") %> prohibited this ma_table from being saved:</h2>

      <ul>
      <% ma_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
